table {
    background-color: yellow;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: lightgray;
}

caption {
    font-weight: bold;
    font-size: 20px;
}
